* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family:Orbitron, Poppins, sans-serif;
}
body {
  background: #010208;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 50px;
  margin-inline: auto;
}
h1 {
  font-family:Orbitron ;
  color: #ffffff;
  font-size: clamp(0.188rem, -0.653rem + 4.2vw, 2.5rem);
}
h4 {
  color: #ffffff;
  font-size: clamp(0.063rem, -0.46rem + 2.61vw, 1.5rem);
}
h3 {
  font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
  color: #ffffff;
}
p {
  font-family: Poppins;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  color: white;
  /* padding-block: 17px; */
}

button {
  color: #ffffff;
  background: #000;
  font-size: clamp(0.313rem, -0.028rem + 1.7vw, 1.25rem);
}

#header {
  padding-block: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-size: clamp(1.375rem, 1.167rem + 1.04vw, 2rem);
}
.header nav {
  display: flex;
  gap: 50px;
}
.header nav a {
  font-family: Poppins;
  color: #ffffff;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  /* font-size: clamp(0.313rem, 0.108rem + 1.02vw, 0.875rem); */
}
/* HEADER FINISH  */

/* //? */
#meta {
  padding-block: 60px;
}

.meta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 885px) {
    flex-direction: column-reverse;
  }
}
.meta img {
  width: 100%;
  max-width: 450px;
}

.meta-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.meta-text h1 {
  /* //! */
  /* font-size: 45px; */
  font-weight: 600;
  margin-top: 90px;
}
.meta-text h1 span {
  /* //! */
  /* font-size: 55px; */
  font-weight: 700;
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
  color: transparent;
  background-clip: text;
}

/* //! */
.meta-btn {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  gap: 20px;
}
.meta-btn button:first-child {
  padding: 13px 15px;
  font-size: clamp(0.063rem, -0.324rem + 1.93vw, 1.125rem);
  border-radius: 6px;
  border: none;
  transition: 0.8s;
  border: 2px solid #d10ed1;
}
.meta-btn button:hover {
  transform: scale(1.1);
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
}
.meta-btn button:last-child {
  font-size: clamp(0.063rem, -0.324rem + 1.93vw, 1.125rem);
  border: 2px solid #d10ed1;
  border-radius: 6px;
  padding: 10px 15px;
  transition: 0.8s;
}

/* //! */
.meta-k {
  display: flex;
  padding-block: 50px;
  gap: 20px;
}
.meta-k h4 {
  font-size: clamp(0.188rem, -0.153rem + 1.7vw, 1.125rem);
  /* font-size: 24px; */
  font-weight: 500;
  line-height: 30.1px;
}

.meta-k h4 span {
  font-family: Poppins;
  font-size: clamp(0.188rem, -0.153rem + 1.7vw, 1.125rem);
  font-weight: 400;
  line-height: 27px;
}
#what {
  padding-block: 60px;
}
.what {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.what img {
  max-width: 550px;
  width: 100%;
  padding-inline: 35px;
}

.what-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* //! */
  /* padding-block: 17px; */
}
.what-text h1 span {
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
  color: transparent;
  background-clip: text;
}

.what-text h1 {
  /* //! */
  /* font-size: 35px; */
  font-weight: 600;
}
.what-btn {
  display: flex;
  justify-content: space-between;
}
.what-btn button {
  padding: 10px 16px;
  color: #ffffff;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  border-radius: 6px;
  border: none;
}
/* //? what F */

/* //? WORK START */
#work {
  padding-block: 60px;
}
.work {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
.work-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.work-text h1 {
  /* //! */
  /* font-size: 37px; */
  font-weight: 600;
  color: #ffffff;
  padding-block: 20px;
  margin-top: 100px;
}
.work-text p {
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 100px;
}
/* //! */
.box {
  background: #d40e0e;
}
.work-box {
  /* background-color: #ffffff; */
  gap: 20px;
}
.work-block {
  background: rgb(13, 13, 13);
}
.work-box img {
  padding-block: 13px;
}

.work-btn {
  gap: 20px;
  padding-block: 20px;
}
.work-btn button:first-child {
  padding: 10px 26px;
  font-size: clamp(0.063rem, -0.324rem + 1.93vw, 1.125rem);
  border-radius: 6px;
  border: none;
  transition: 0.8s;
  border: 2px solid #d10ed1;
  transition: 0.8s;
}
.work-btn button:hover {
  transform: scale(1.1);
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
}
.work-btn button:last-child {
  padding: 10px 16px;
  font-size: clamp(0.063rem, -0.324rem + 1.93vw, 1.125rem);
  border-radius: 6px;
  border: none;
  transition: 0.8s;
  border: 2px solid #d10ed1;
  transition: 0.8s;
}

/* //? WORK F */

#activity {
  padding-block: 60px;
}
.activity {
}
.activity-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 40px;
}
.activity-text h1 {
  font-weight: 600;
  color: #ffffff;
  /* margin-top: 30px; */
}
.activity-text p {
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 1174px) {
  .what img {
    max-width: 517px;
  }
}
@media (max-width: 900px) {
  .what-text p {
    font-size: 13px;
  }
}

@media (max-width: 884px) {
  .meta-text {
    align-items: center;
  }
}

#footer {
  padding-block: 70px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meta-f h1 {
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
  color: transparent;
  background-clip: text;
}
.info h4 {
}
.info a {
  font-size: 23px;
  color: #ffffff;
}

.meta-f p {
}
.footer {
}
.footer {
}
.footer {
}
